<div class="compound-detail">
  <h2 *ngIf="!dataNotFound; else noDataTemplate">{{ data.CompoundName }}</h2>

  <ng-template #noDataTemplate>
    <h2>No data found for the selected compound</h2>
  </ng-template>

  <div *ngIf="!dataNotFound">
    <div class="compound-image">
      <img
        *ngIf="data?.strImageSource"
        [src]="data.strImageSource"
        alt="Compound Image"
      />
    </div>
    <div class="compound-description">
      <p>{{ data.CompoundDescription }}</p>
    </div>
    <div *ngIf="data?.strImageAttribution" class="view-more actions">
      <button (click)="onViewMore()">View More</button>
    </div>
    <div class="actions">
      <button class="update" (click)="onUpdate()">Update</button>
      <button class="delete" (click)="onDelete()">Delete</button>
      <!-- <button class="view-more" (click)="onViewMore()">View More</button> -->
    </div>
  </div>
</div>
